In [1]:
import pandas as pd

C:\Users\Arthur\AppData\Local\Temp\ipykernel_5860\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Upload historical data (that we downloaded with their corresponding python script) on RDS

In [2]:
# Define the file paths
file_path_production_type = 'data/production_type.csv'
file_path_power_consumption = 'data/power_consumption.csv'
file_path_weekly_forecast = 'data/weekly_forecast.csv'


# Define the data types for each column
dtype_production_type = {'production_type': 'category'}  
dtype_power_consumption = {"status": 'category'}
# dtype_weekly_forecast = {'column3': 'category'}

# Load the dataframes with specified data types
df_production_type = pd.read_csv(file_path_production_type, parse_dates=['start_date','end_date','updated_date'])
df_power_consumption = pd.read_csv(file_path_power_consumption, dtype=dtype_power_consumption, parse_dates=['start_date','end_date','updated_date'])
df_weekly_forecast = pd.read_csv(file_path_weekly_forecast, parse_dates=['start_date','end_date','updated_date'])

In [3]:
df_production_type

,start_date,end_date,updated_date,production_value,production_type
0,2018-12-31 23:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01 00:51:03+01:00,351,BIOMASS
1,2019-01-01 00:00:00+00:00,2019-01-01 01:00:00+00:00,2019-01-01 01:51:00+01:00,352,BIOMASS
2,2019-01-01 01:00:00+00:00,2019-01-01 02:00:00+00:00,2019-01-01 02:51:03+01:00,352,BIOMASS
3,2019-01-01 02:00:00+00:00,2019-01-01 03:00:00+00:00,2019-01-01 03:51:00+01:00,351,BIOMASS
4,2019-01-01 03:00:00+00:00,2019-01-01 04:00:00+00:00,2019-01-01 04:50:59+01:00,353,BIOMASS
...,...,...,...,...,...
522611,2023-12-31 18:00:00+00:00,2023-12-31 19:00:00+00:00,NaT,71054,TOTAL
522612,2023-12-31 19:00:00+00:00,2023-12-31 20:00:00+00:00,NaT,70060,TOTAL
522613,2023-12-31 20:00:00+00:00,2023-12-31 21:00:00+00:00,NaT,65993,TOTAL
522614,2023-12-31 21:00:00+00:00,2023-12-31 22:00:00+00:00,NaT,63538,TOTAL
522615,2023-12-31 22:00:00+00:00,2023-12-31 23:00:00+00:00,NaT,62885,TOTAL

In [4]:
df_power_consumption

,start_date,end_date,consolidated_power_consumption_value,updated_date,status
0,2019-01-01 22:30:00+00:00,2019-01-01 23:00:00+00:00,62068,2019-03-25 23:00:00+00:00,PROVISORY
1,2019-01-01 22:00:00+00:00,2019-01-01 22:30:00+00:00,62244,2019-03-25 23:00:00+00:00,PROVISORY
2,2019-01-01 21:30:00+00:00,2019-01-01 22:00:00+00:00,63028,2019-03-25 23:00:00+00:00,PROVISORY
3,2019-01-01 21:00:00+00:00,2019-01-01 21:30:00+00:00,60632,2019-03-25 23:00:00+00:00,PROVISORY
4,2019-01-01 20:30:00+00:00,2019-01-01 21:00:00+00:00,59952,2019-03-25 23:00:00+00:00,PROVISORY
...,...,...,...,...,...
79963,2023-12-31 01:00:00+00:00,2023-12-31 01:30:00+00:00,48894,2024-02-07 18:23:23+00:00,PROVISORY
79964,2023-12-31 00:30:00+00:00,2023-12-31 01:00:00+00:00,49034,2024-02-07 18:23:23+00:00,PROVISORY
79965,2023-12-31 00:00:00+00:00,2023-12-31 00:30:00+00:00,49234,2024-02-07 18:23:23+00:00,PROVISORY
79966,2023-12-30 23:30:00+00:00,2023-12-31 00:00:00+00:00,49596,2024-02-07 18:23:23+00:00,PROVISORY
79967,2023-12-30 23:00:00+00:00,2023-12-30 23:30:00+00:00,51889,2024-02-07 18:23:23+00:00,PROVISORY

In [5]:
df_weekly_forecast

,start_date,end_date,forecast_value,updated_date
0,2019-04-09 22:00:00+00:00,2019-04-09 22:30:00+00:00,53426,2019-04-05 09:15:21+00:00
1,2019-04-09 22:30:00+00:00,2019-04-09 23:00:00+00:00,51065,2019-04-05 09:15:21+00:00
2,2019-04-09 23:00:00+00:00,2019-04-09 23:30:00+00:00,51349,2019-04-05 09:15:21+00:00
3,2019-04-09 23:30:00+00:00,2019-04-10 00:00:00+00:00,50788,2019-04-05 09:15:21+00:00
4,2019-04-10 00:00:00+00:00,2019-04-10 00:30:00+00:00,49534,2019-04-05 09:15:21+00:00
...,...,...,...,...
447835,2023-12-06 20:30:00+00:00,2023-12-06 21:00:00+00:00,65295,2023-11-27 10:20:05+00:00
447836,2023-12-06 21:00:00+00:00,2023-12-06 21:30:00+00:00,66329,2023-11-27 10:20:05+00:00
447837,2023-12-06 21:30:00+00:00,2023-12-06 22:00:00+00:00,67412,2023-11-27 10:20:05+00:00
447838,2023-12-06 22:00:00+00:00,2023-12-06 22:30:00+00:00,66157,2023-11-27 10:20:05+00:00
447839,2023-12-06 22:30:00+00:00,2023-12-06 23:00:00+00:00,65089,2023-11-27 10:20:05+00:00

In [7]:
from sqlalchemy import create_engine

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user="admin",
                               pw="admin2024",
                               host="mysql-database.c9cwko0aaypr.eu-central-1.rds.amazonaws.com",
                               db="rte"))

# Convert and upload the DataFrame to MySQL
df_production_type.to_sql('power_consumption_2019_2024', con = engine, if_exists = 'append', chunksize = 1000)
df_power_consumption.to_sql('production_type_2019_2024', con = engine, if_exists = 'append', chunksize = 1000)
df_weekly_forecast.to_sql('weekly_forecast_2019_2024', con = engine, if_exists = 'append', chunksize = 1000)

447840